<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         verbose="true">

    <testsuites>
        <testsuite name="Mdash Typograph Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory>src/</directory>
        </include>

        <report>
            <html outputDirectory="tests/log/coverage" />
            <clover outputFile="tests/log/clover.xml" />
            <text outputFile="tests/log/coverage.txt" />
        </report>
    </coverage>

    <logging>
        <junit outputFile="tests/log/junit.xml"/>
    </logging>
</phpunit>